
header {
    background: #252525;
    position: sticky;
    top: 0;
    padding: 5px 0; 
  }
  
  header a {
    display: inline-block;
    color: white;
    height: 70px; 
    line-height: 70px; 
    font-size: 1.5rem;
    text-decoration: none; 
    margin-right: 1rem;
  }
  
  header a:hover {
    color: #aaa;
  }
  
  .logo {
    float: right;
    height: 70px;
    width: 70px;
    object-fit: cover;
  }
  