.dsize {
border: 2px solid red;
}

.padding {
padding: 50px;
}

.dstyle {
background-color: yellow;
}

.astyle {
background-color: orange;
}

.bstyle {
background-color: purple;
}

.cstyle {
background-color: #33E0FF;
}

.pading {
padding: 10px;
}

.paing {
padding: 5px;
}


@media(min-width: 700px){
.body1 display: none;
}
}


.col-xs-100 {max-width: 33.3333333333333%;
}









